In [62]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [63]:
os.getcwd()

'C:\\....\\SummerAnalytics'

In [76]:
os.chdir('C:\\Users\\Nida Maryam\\Documents\\SummerAnalytics')
df=pd.read_csv('train_final1.csv')
df.head()

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13%,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03%,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01%,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85%,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02%,77.0,3.0,35.0,21.0,7.0,7,7,1

In [77]:
print(df.shape)

(15730, 16)

In [78]:
df.rename(columns={'Offer %':'offper'}, inplace=True)
df.columns

Index(['id', 'title', 'Rating', 'maincateg', 'platform', 'price1', 'actprice1',
       'offper', 'norating1', 'noreviews1', 'star_5f', 'star_4f', 'star_3f',
       'star_2f', 'star_1f', 'fulfilled1'],
      dtype='object')

In [79]:
print(df.isnull().sum())

id              0
title           0
Rating          0
maincateg     526
platform        0
price1          0
actprice1       0
offper          0
norating1     678
noreviews1    578
star_5f       588
star_4f       539
star_3f       231
star_2f         0
star_1f         0
fulfilled1      0
dtype: int64

In [80]:
df.loc[df['title'].str.contains('Women'), 'maincateg'] = 'Women'
df.loc[df['title'].str.contains('Men'), 'maincateg'] = 'Men'
df['maincateg'].fillna(value='Unisex', inplace=True)
df.isnull().sum()

id              0
title           0
Rating          0
maincateg       0
platform        0
price1          0
actprice1       0
offper          0
norating1     678
noreviews1    578
star_5f       588
star_4f       539
star_3f       231
star_2f         0
star_1f         0
fulfilled1      0
dtype: int64

In [81]:
df.offper=df.offper.str.replace('%', '')
df['offper'] = df.offper.astype(float)
df=df.drop(['id', 'title'],axis=1)
df.dtypes

Rating        float64
maincateg      object
platform       object
price1          int64
actprice1       int64
offper        float64
norating1     float64
noreviews1    float64
star_5f       float64
star_4f       float64
star_3f       float64
star_2f         int64
star_1f         int64
fulfilled1      int64
dtype: object

In [82]:
cat_cols=['platform','maincateg','fulfilled1']

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df[cat_cols] = df[cat_cols].apply(lambda col: le.fit_transform(col))

df.head(20)

,Rating,maincateg,platform,price1,actprice1,offper,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,3.9,2,1,698,999,30.13,38.0,7.0,17.0,9.0,6.0,3,3,0
1,3.8,0,1,999,1999,50.03,531.0,69.0,264.0,92.0,73.0,29,73,1
2,4.4,2,1,2749,4999,45.01,17.0,4.0,11.0,3.0,2.0,1,0,1
3,4.2,0,1,518,724,15.85,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,3.9,0,1,1379,2299,40.02,77.0,3.0,35.0,21.0,7.0,7,7,1
5,4.1,2,1,359,499,28.06,274.0,25.0,153.0,49.0,34.0,15,23,0
6,4.0,2,1,499,999,50.05,249.0,31.0,130.0,52.0,27.0,9,28,1
7,3.9,2,1,209,1299,83.91,121.0,17.0,63.0,25.0,14.0,9,12,0
8,4.2,2,1,549,999,45.05,191.0,30.0,120.0,25.0,31.0,7,12,1
9,4.1,0,1,809,899,10.01,36126.0,5028.0,18688.0,9899.0,3709.0,1272,2558,0
10,3.3,0,0,999,999,0.00,222.0,147.0,26.0,4.0,18.0,15,37,1
11,4.0,2,1,599,1299,53.89,22.0,3.0,12.0,3.0,4.0,1,2,1
12,4.1,2,1,299,599,50.08,41.0,9.0,19.0,13.0,5.0,3,1,1
13,4.4,2,1,599,1199,50.04,101.0,16.0,68.0,20.0,5.0,5,3,1
14,4.5,0,1,1979,3599,45.01,141.0,12.0,98.0,25.0,8.0,4,6,1
15,4.2,0,1,999,1999,50.03,732.0,99.0,378.0,230.0,70.0,24,30,1
16,4.0,0,1,379,999,62.06,138.0,24.0,68.0,30.0,16.0,14,10,0
17,4.2,2,1,399,999,60.06,9305.0,1619.0,5660.0,1711.0,921.0,319,694,1
18,3.9,2,1,399,999,60.06,1353.0,202.0,698.0,258.0,174.0,77,146,0
19,4.0,2,1,499,999,50.05,NaN,NaN,28.0,9.0,10.0,2,5,0

In [83]:

from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
knn_ar = imputer.fit_transform(df)

df = pd. DataFrame(knn_ar, columns=['Rating', 'maincateg', 'platform', 'price1','actprice1',
       'offper', 'norating1', 'noreviews1', 'star_5f', 'star_4f', 'star_3f',
       'star_2f', 'star_1f', 'fulfilled1']) 
df.head(20)

,Rating,maincateg,platform,price1,actprice1,offper,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,3.9,2.0,1.0,698.0,999.0,30.13,38.0,7.0,17.0,9.0,6.0,3.0,3.0,0.0
1,3.8,0.0,1.0,999.0,1999.0,50.03,531.0,69.0,264.0,92.0,73.0,29.0,73.0,1.0
2,4.4,2.0,1.0,2749.0,4999.0,45.01,17.0,4.0,11.0,3.0,2.0,1.0,0.0,1.0
3,4.2,0.0,1.0,518.0,724.0,15.85,46413.0,6229.0,1045.0,12416.0,5352.0,701.0,4595.0,1.0
4,3.9,0.0,1.0,1379.0,2299.0,40.02,77.0,3.0,35.0,21.0,7.0,7.0,7.0,1.0
5,4.1,2.0,1.0,359.0,499.0,28.06,274.0,25.0,153.0,49.0,34.0,15.0,23.0,0.0
6,4.0,2.0,1.0,499.0,999.0,50.05,249.0,31.0,130.0,52.0,27.0,9.0,28.0,1.0
7,3.9,2.0,1.0,209.0,1299.0,83.91,121.0,17.0,63.0,25.0,14.0,9.0,12.0,0.0
8,4.2,2.0,1.0,549.0,999.0,45.05,191.0,30.0,120.0,25.0,31.0,7.0,12.0,1.0
9,4.1,0.0,1.0,809.0,899.0,10.01,36126.0,5028.0,18688.0,9899.0,3709.0,1272.0,2558.0,0.0
10,3.3,0.0,0.0,999.0,999.0,0.00,222.0,147.0,26.0,4.0,18.0,15.0,37.0,1.0
11,4.0,2.0,1.0,599.0,1299.0,53.89,22.0,3.0,12.0,3.0,4.0,1.0,2.0,1.0
12,4.1,2.0,1.0,299.0,599.0,50.08,41.0,9.0,19.0,13.0,5.0,3.0,1.0,1.0
13,4.4,2.0,1.0,599.0,1199.0,50.04,101.0,16.0,68.0,20.0,5.0,5.0,3.0,1.0
14,4.5,0.0,1.0,1979.0,3599.0,45.01,141.0,12.0,98.0,25.0,8.0,4.0,6.0,1.0
15,4.2,0.0,1.0,999.0,1999.0,50.03,732.0,99.0,378.0,230.0,70.0,24.0,30.0,1.0
16,4.0,0.0,1.0,379.0,999.0,62.06,138.0,24.0,68.0,30.0,16.0,14.0,10.0,0.0
17,4.2,2.0,1.0,399.0,999.0,60.06,9305.0,1619.0,5660.0,1711.0,921.0,319.0,694.0,1.0
18,3.9,2.0,1.0,399.0,999.0,60.06,1353.0,202.0,698.0,258.0,174.0,77.0,146.0,0.0
19,4.0,2.0,1.0,499.0,999.0,50.05,56.4,9.0,28.0,9.0,10.0,2.0,5.0,0.0

In [84]:
df['maincateg'] = df.maincateg.astype(int)
df['platform'] = df.platform.astype(int)
df['fulfilled1'] = df.fulfilled1.astype(int)
df.isnull().sum()

Rating        0
maincateg     0
platform      0
price1        0
actprice1     0
offper        0
norating1     0
noreviews1    0
star_5f       0
star_4f       0
star_3f       0
star_2f       0
star_1f       0
fulfilled1    0
dtype: int64

In [85]:
from sklearn.model_selection import train_test_split
X = df.drop(['offper','price1'],axis=1)
y = df['price1']
X_train, X_test, y_train ,y_test = train_test_split( X, y, test_size=0.5,  random_state=0 )

In [74]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

RMSE_test = []
RMSE_train = []
Model_Name = []

In [75]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

In [87]:
model_list = [RandomForestRegressor(),XGBRegressor(),DecisionTreeRegressor(),ElasticNet(), # SVR(),
              GradientBoostingRegressor(),ExtraTreesRegressor(),
              AdaBoostRegressor(),Lasso(),LinearRegression(),Ridge()]

for model in model_list:
    print(model)
    model.fit(X_train, y_train)

    y_predictions = model.predict(X_test)
    mse = mean_squared_error(y_test, y_predictions)
    rmse = np.sqrt(mse)
    score = model.score(X_test,y_test)

    RMSE_test.append(rmse)
    Model_Name.append( 'RandomForestRegressor' )

    print('Root Mean Square Error : ', rmse )
    print('R2 Score : ', score )
    print('\n')

RandomForestRegressor()
Root Mean Square Error :  222.11426523090813
R2 Score :  0.8869047643200105


XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)
Root Mean Square Error :  226.10234276628262
R2 Score :  0.882807038049858


DecisionTreeRegressor()
Root Mean Square Error :  299.5730264526104
R2 Score :  0.7942703818461614


ElasticNet()

C:\Users\Nida Maryam\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.261e+08, tolerance: 3.202e+05
  model = cd_fast.enet_coordinate_descent(

Root Mean Square Error :  292.1303623357027
R2 Score :  0.8043657900161733


GradientBoostingRegressor()
Root Mean Square Error :  263.23558728016155
R2 Score :  0.8411524173684308


ExtraTreesRegressor()
Root Mean Square Error :  212.71949580563592
R2 Score :  0.8962696135061615


AdaBoostRegressor()
Root Mean Square Error :  311.01318404910745
R2 Score :  0.7782574665876605


Lasso()
Root Mean Square Error :  288.4813753557175
R2 Score :  0.8092225823150646


LinearRegression()
Root Mean Square Error :  288.5838318281957
R2 Score :  0.8090870459931973


Ridge()
Root Mean Square Error :  288.57836635649375
R2 Score :  0.8090942773024521

C:\Users\Nida Maryam\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.129e+08, tolerance: 3.202e+05
  model = cd_fast.enet_coordinate_descent(